
#cleartasksbtn{

    position: fixed;
    bottom: 40%;
    right: 5%;
}

#task{
    position: fixed;
    bottom: 5%;
    background-color: black;
    color: white;
}
/* #taskicon
{
    position: fixed;
    bottom: 20px;
    background-color: black;
    color: white;
} */

#addtaskbtn{
    position: fixed;
    right: 5%;  
    bottom: 10%
}

#addbutton{
    position: fixed;
    bottom: 25%;
    right: 5%;
}